
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Log In</title>
		<meta name="description" content="form to add new books">
		<meta name="author" content="Mark Tyers">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="{{host}}/style.css" type="text/css" rel="stylesheet" />
		<script type="module" src="{{host}}/main.js"></script>
       
	</head>
	<body>
		<header>
		<h1>Add a mortgage</h1>
            <a href="/logout">Log out</a>
		<a href="/">Home page</a>
            
		</header>
		{{#if msg}}
 			<aside>
				<p class="msg">{{msg}}</p>
			</aside>
		{{/if}}
		<main>
		<form action="/secure/add" method="post">
			  <div>
                
            <p>
				<label for="amount">Amount to borrow : </label><br />
				<input id = "range" class = "slider"type="range" name="amount" min = "50000" max = "800000" value = "0" placeholder="preferred amount" value="{{body.amount}}" autofocus><p class = "sliderval">Amount: £ <span id="val"> </span>
			
                  </p>
                </div>
        <div>
                
            <p>
				<label for="amount">Deposit to make : </label><br />
				<input id = "range" class = "slider"type="range" name="deposit" min = "5" max = "300" placeholder="preferred amount" value="{{body.deposit}}" autofocus><p class = "sliderval">Deposit: £ <span id="val"> </span>
			
                  </p>
                </div>
           <div>
                
            <p>
				<label for="amount">Number of years : </label><br />
				<input id = "myRange" class = "slider"type="range" name="years" min = "5" max = "30" placeholder="preferred amount" value="{{body.years}}" autofocus><p class = "sliderval">Years : <span id="val"> </span>
                  </p>
                </div>
                <input type="hidden" name="referrer" value="{{referrer}}">
			<p><input type="submit" value="Submit"></p>
            
		</form>
		</main>
        <script>
            var slider = document.getElementById("range");
            var result = document.getElementById("val");
             console.log(slider)
            result.innerHTML = slider.value;
            slider.oninput = function() {
                result.innerHTML = this.value;
            }
        </script>
	</body>
</html>
