<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Home Page</title>
		<meta name="description" content="form to add new books">
		<meta name="author" content="Mark Tyers">
		<link href="{{host}}/style.css" type="text/css" rel="stylesheet" />
		<script type="module" src="{{host}}/main.js"></script>
	</head>
    <script>
    function delete_row() {
        var elem = document.getElementById("row");
        elem.remove()
}
    </script>
  
	<body>
		<header>
			<h1>Home</h1>
			{{#if authorised}}
				<a href="/logout">Log out</a>
                <a href = "/mortgage/add">Add</a>
                <a href = "mortgage/data">Financial Data</a>
			{{else}}
				<a href="/login">Log in</a>
			{{/if}}
		</header>
		{{#if msg}}
 			<aside>
				<p class="msg">{{msg}}</p>
			</aside>
		{{/if}}
	<main>
        
            
    <div id="loancal">
        <div>
            
        <h2>Loan Calculator</h2>
            </div>
       <div> <p>Loan Amount: £ <input id="calamount" type="text"  ></p>
        </div>
        <div> <p>Deposit : £ <input id="caldeposit" type="text"  ></p>
        </div>
              <div> <p>Years to Pay: <input id="calyears" type="text"   step="1" ></p>
                  <div>
                            <details>
    <summary>Interest rate *</summary>
                                <ul>
                                     <li>5-9% deposit uses interest rate of 6%.</li>
<li>10-20% deposit uses interest rate of 4%.</li>
<li>21-30% deposit uses interest rate of 3%.</li>
<li>31%+ deposit uses interest rate of 2.3%.</li>
                                </ul>
</details>
                  </div>
    <div>
         <label htmlFor="calcBtn"></label>
        <button id = "calculatebutton">GO</button>
        <hr><p style = 'font : 50px;'>Monthly Payment: <span id="res" class="currency"></span></p><hr>
        
                  </div>
         <div>

                  </div>         
        </div>
        </div>
            

        <div class = "centre">
                
        </div>
        <h2>My Loans</h2>
<div class = "row">
    {{#each records}}
    
        <div id = "row"class="row">
  <div id = "amount" class="column" style="background-color:#4285F4;">
    <h2>Amount (£)</h2>
    <p>{{this.amount}}</p>
  </div>
  <div class="column" style="background-color:#4285F4;">
    <h2>Years</h2>
    <p id = "dyears">{{this.years}}</p>
  </div>
  <div class="column" style="background-color:#4285F4;">
    <h2>Deposit (£)</h2>
    <p id = "ddeposit">{{this.deposit}}</p>
  </div>
  <div class="column" style="background-color:#4285F4;">
    <h2>Monthly payment(£)</h2>
    <p >{{this.mp}}</p>
      
  </div>
      <div class="column" style="background-color:#4285F4;">
    <h2>Compound interest</h2>
    <p id = "dres"> {{this.total}}</p>
             
              
  </div>
            <hr>
                <button class = "dltbut" onclick="delete_row()">Delete</button>

    </div>
    {{/each}}
    
        </div>
        
	</main>
	</body>
    
</html>