
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Home Page</title>
		<meta name="description" content="form to add new books">
		<meta name="author" content="Mark Tyers">
		<link href="{{host}}/style.css" type="text/css" rel="stylesheet" />
		<script type="module" src="{{host}}/main.js"></script>
	</head>
    <script>
    function calculate() {
        var amount = document.getElementById("amount").value;
        var months = document.getElementById("months").value;
        var payment = ((amount / months) + (3/100));
        document.getElementById("res").innerHTML = payment;
}
    </script>
	<body>
		<header>
			<h1>Home</h1>
			{{#if authorised}}
				<a href="/logout">Log out</a>
                <a href = "/mortgage/add">Add</a>
                
			{{else}}
				<a href="/login">Log in</a>
			{{/if}}
		</header>
		{{#if msg}}
 			<aside>
				<p class="msg">{{msg}}</p>
			</aside>
		{{/if}}
	<main>
        <body>
            
    <div id="loancal">
        <div>
            
        <h2>Loan Calculator</h2>
            </div>
       <div> <p>Loan Amount: £ <input id="amount" type="number" min="50" step = "100" max="300000" onclick="calculate()"></p>
        </div>
              <div> <p>Months to Pay: <input id="months" type="number" min="5" max="30"  step="1" onclick="calculate()"></p>
                  <div>
                            <details>
    <summary>Note*</summary>
    compound interest rate = 3%.
</details>
                  </div>
    <div>
        
        <button onclick="calculate()">GO</button> <hr><p id="res"></p><hr>
        
                  </div>
         <div>

                  </div>         
        </div>
        </div>
            
</body>
        <div class = "centre">
                
        </div>
<div>
    {{#each records}}
    
        <div class="row">
  <div class="column" style="background-color:#4285F4;">
    <h2>Mortgage ID</h2>
    <p>{{this.mortgage_id}}</p>
  </div>
  <div class="column" style="background-color:#4285F4;">
    <h2>Amount</h2>
    <p id = "damount">{{this.amount}}</p>
  </div>
  <div class="column" style="background-color:#4285F4;">
    <h2>Deposit</h2>
    <p id = "ddeposit">{{this.deposit}}</p>
  </div>
  <div class="column" style="background-color:#4285F4;">
    <h2>Years</h2>
    <p id = "dyears">{{this.years}}</p>
      
  </div>
      <div class="column" style="background-color:#4285F4;">
    <h2>Monthly payment</h2>
    <p id = "dres"> {{this.mp}}</p>
  </div>
            <hr>
</div>
    {{/each}}
        </div>			
	</main>
	</body>
<!--      <script>
       var amount = document.getElementById("damount").value;
       console.log(amount)
       var deposit = document.getElementById("ddeposit").value;
       var months = document.getElementById("dyears").value;
       var payment_per_month = (( amount/ months) + (3/100));
       document.getElementById("dres").innerHTML = payment_per_month;
    </script> -->
    
</html>
